<main class="flex h-screen w-screen overflow-hidden">
  <div class="relative bg-sidebar flex-2 flex flex-col justify-start">
    <!-- <app-sidebar></app-sidebar> -->
  </div>

  <div class="flex-3 bg-white flex justify-center items-center">
    <!-- <div class="w-full flex-col justify-center items-center flex gap-6">
      <div class="h-[104px] w-full flex flex-col justify-between items-center">
        <h1 class="text-[32px] font-intrer font-semibold leading-10">Verify you Email</h1>
        <p class="text-[16px] leading-6 text-center w-[383px]">
          Account activation link has been sent to the e-mail address you provided
        </p>
      </div>
      <img src="/assets/emailverify.png" class="h-[180px] w-[180px]" alt="Dashboard" />
      <p class="text-primary font-semibold text-[16px] text-center">
        Didn’t get the mail? Send it again
      </p>
    </div> -->
    <app-verified></app-verified>
     <!-- <app-notverified></app-notverified> -->
  </div>
</main>
