<main class="flex h-screen w-screen overflow-hidden">
  <div class="relative bg-sidebar flex-2 flex flex-col justify-start">
    <!-- <app-sidebar></app-sidebar> -->
  </div>

  <div class="flex-3 bg-white flex flex-col justify-start items-center">
    <div class="w-[740px] h-[59px] mt-[43px] flex flex-col justify-between">
      <div class="h-[29px] w-full flex justify-between">
        <h1 class="font-inter font-semibold text-[24px] leading-[100%] text-black-2">
          Account set up
        </h1>
        <h1 class="font-inter font-semibold text-[24px] leading-[100%] text-black-2">2/3</h1>
      </div>
      <div class="w-full bg-[#E9E9E9] h-2.5 rounded-full overflow-hidden">
        <div class="h-2.5 bg-primary w-[58.33%]"></div>
      </div>
    </div>
    <div class="h-[664px] w-[586px] flex flex-col mt-[78px] justify-between items-center">
      <div class="w-[311px] h-20 flex flex-col justify-between items-center">
        <h1 class="text-black text-[32px] font-semibold leading-10">Create Organization</h1>
        <p class="text-[14px] text-gray-3">Create an account and enjoy starting iwurk</p>
      </div>
      <div class="h-[554px] w-full">
        <div class="h-[70px] w-full flex flex-col justify-between mt-6">
          <p class="text-[14px] leading-5 font-inter">Company Name</p>
          <div
            class="h-10 border border-gray rounded-lg flex items-center focus-within:border-primary focus-within:bg-primary-0 transition-all"
            [ngClass]="{
              'border-red': submitted && companyName === false
            }"
          >
            <img src="/assets/user.png" class="h-6 w-6 ml-4" alt="Dashboard" />
            <input
              placeholder="Company Name"
              [(ngModel)]="organization.companyName"
              class="ml-2 text-[14px] leading-5 outline-none bg-transparent w-full placeholder:text-gray-3"
            />
          </div>
        </div>
        <div class="h-[70px] w-full flex justify-between mt-6">
          <div class="h-full w-[280px] flex flex-col justify-between">
            <p class="text-[14px] leading-5 font-inter">Industry</p>
            <div
              class="h-10 border border-gray rounded-lg flex items-center focus-within:border-primary focus-within:bg-primary-0 transition-all"
              [ngClass]="{
                'border-red': submitted && industryName === false
              }"
            >
              <img src="/assets/emailbox.png" class="h-6 w-6 ml-4" alt="Dashboard" />
              <input
                placeholder="Industry Name"
                [(ngModel)]="organization.industryName"
                class="ml-2 text-[14px] leading-5 outline-none bg-transparent w-full placeholder:text-gray-3"
              />
            </div>
          </div>
          <div class="h-full w-[280px] flex flex-col justify-between">
            <p class="text-[14px] leading-5 font-inter">Company Website</p>
            <div
              class="h-10 border border-gray rounded-lg flex items-center focus-within:border-primary focus-within:bg-primary-0 transition-all"
              [ngClass]="{
                'border-red': submitted && companyWebsite === false
              }"
            >
              <img src="/assets/lock.png" class="h-6 w-6 ml-4" alt="Dashboard" />
              <input
                placeholder="Company Website"
                [(ngModel)]="organization.companyWebsite"
                class="ml-2 text-[14px] leading-5 outline-none bg-transparent w-full placeholder:text-gray-3"
              />
            </div>
          </div>
        </div>
        <div class="h-[117px] w-full flex flex-col justify-between mt-6">
          <p class="text-[14px] leading-5 font-inter">Company Description</p>
          <div
            class="h-20 border border-gray rounded-lg flex justify-start items-start focus-within:border-primary focus-within:bg-primary-0 transition-all"
            [ngClass]="{
              'border-red': submitted && description === false
            }"
          >
            <div class="h-full">
              <img src="/assets/lock.png" class="h-6 w-6 mt-4 ml-4" alt="Dashboard" />
            </div>
            <input
              placeholder="Description"
              [(ngModel)]="organization.companyDescription"
              class="w-full pt-[17px] ml-2 text-[14px] leading-5 bg-transparent outline-none placeholder:text-gray-3"
            />
          </div>
        </div>
        <input
          #fileInput
          type="file"
          accept="image/*"
          (change)="onFileSelected($event)"
          class="hidden"
        />
        <div
          (click)="triggerFileInput(fileInput)"
          class="h-[157px] w-full flex flex-col justify-between mt-6 cursor-pointer"
        >
          <p class="text-[14px] leading-5 font-inter">Company Logo</p>
          <ng-template #uploadPlaceholder>
            <div
              [ngClass]="{
                'border-red': submitted
              }"
              class="h-[129px] w-full border border-gray rounded-lg p-[17px]"
            >
              <div class="flex flex-col justify-center items-center h-full w-full">
                <img src="/assets/uploadimage.png" class="h-12 w-12" alt="Upload" />
                <p class="text-gray-500 text-[12px] text-center mt-3">Drag & Drop or Browse</p>
                <p class="text-gray-400 text-[12px] text-center mt-[5px]">
                  Recommended: 200x200px, max 2MB
                </p>
              </div>
            </div>
          </ng-template>
          <ng-container *ngIf="imageUrl; else uploadPlaceholder">
            <div class="flex justify-start items-start h-[126px] w-full relative">
              <img
                [src]="imageUrl"
                alt="Uploaded"
                class="h-[126px] w-[120px] object-cover rounded-[22px] border border-[#F0F0F0]"
              />
              <img
                src="assets/cancel.png"
                alt="Uploaded"
                (click)="removeImage($event, fileInput)"
                class="h-6 w-6 object-cover rounded-[22px] absolute left-[125px] -top-2"
              />
            </div>
          </ng-container>
        </div>
      </div>
      <button
        (click)="submit()"
        class="font-bold h-11 text-[16px] text-white w-full rounded-xl bg-primary mt-[30px] cursor-pointer"
      >
        Submit
      </button>
    </div>
  </div>
</main>
