<main class="h-full w-full flex flex-col justify-start items-center gap-6">
  <div class="w-[472px] h-[70px] flex justify-start items-center gap-6">
    <div class="h-20 w-20 rounded-full relative">
      <img
        src="assets/admin/users/deleteprofile.svg"
        class="absolute h-3 w-3 right-0 top-0"
        alt=""
      />
      <img src="assets/admin/profile.jpg" class="rounded-full" alt="" />
    </div>
    <div class="flex flex-col justify-start gap-1">
      <button
        class="px-4 py-2 text-[14px] text-[#334155] font-semibold border border-[#CBD5E1] rounded-lg"
      >
        Upload new photo
      </button>
      <p class="text-[12px] text-[#94A3B8]">Recommended: 200x200px, max 2MB.</p>
    </div>
  </div>
  <div class="w-[472px] h-[70px] flex justify-between">
    <div class="w-56 h-full flex flex-col justify-between">
      <p class="text-[14px] text-black">Name</p>
      <input
        type="text"
        class="h-[42px] w-full text-[14px] text-[#6B7280] border pl-4 border-[#D8DAE5] rounded-lg"
        placeholder="Enter name"
      />
    </div>
    <div class="w-56 h-full flex flex-col justify-between">
      <p class="text-[14px] text-black">ID</p>
      <input
        type="text"
        class="h-[42px] w-full text-[14px] text-[#6B7280] border pl-4 border-[#D8DAE5] rounded-lg"
        placeholder="Enter ID"
      />
    </div>
  </div>
  <div class="w-[472px] h-[70px] flex flex-col justify-between">
    <p class="text-[14px] text-black">Email Address</p>
    <input
      type="text"
      class="h-[42px] w-full text-[14px] text-[#6B7280] border pl-4 border-[#D8DAE5] rounded-lg"
      placeholder="Enter email"
    />
  </div>
  <div class="w-[472px] h-[70px] flex flex-col justify-between">
    <p class="text-[14px] text-black">Department</p>
    <input
      type="text"
      class="h-[42px] w-full text-[14px] text-[#6B7280] border pl-4 border-[#D8DAE5] rounded-lg"
      placeholder="Select"
    />
  </div>
  <div class="w-[472px] h-[70px] flex flex-col justify-between">
    <p class="text-[14px] text-black">Team Name</p>
    <button
      class="py-2 w-full text-[14px] text-black font-medium border border-[#D8DAE5] rounded-lg flex justify-center items-center gap-3"
    >
      <img src="assets/admin/users/addblack.svg" alt="" class="h-5 w-5" />Add
    </button>
  </div>
  <div class="w-[472px] h-[70px] flex flex-col justify-between">
    <p class="text-[14px] text-black">Joined Date</p>
    <input
      type="text"
      class="h-[42px] w-full text-[14px] text-[#6B7280] border pl-4 border-[#D8DAE5] rounded-lg"
      placeholder="dd/mm/yyyy"
    />
  </div>
  <div class="w-[472px] h-[42px] flex justify-end">
    <button class="text-[16px] font-semibold text-black px-4 py-2 rounded-lg">Cancel</button>
    <button class="text-[16px] font-semibold bg-primary text-white px-4 py-2 rounded-lg">
      Save Changes
    </button>
  </div>
</main>
