<main>
  <div class="w-full flex-col justify-center items-center flex gap-6">
    <div class="h-20 w-full flex flex-col justify-between items-center">
      <h1 class="text-[32px] font-intrer font-semibold leading-10">Email Verified</h1>
      <p class="text-[16px] leading-6 text-center w-[383px]">
        Your email address was successfully verified
      </p>
    </div>
    <img src="/assets/emailverified.png" class="h-[180px] w-[180px]" alt="Dashboard" />
    <button
    (click)="BacktoLogin()"
      class="w-70 h-11 rounded-xl cursor-pointer bg-primary text-white font-bold text-[16px] shadow-[0_8px_16px_0_rgba(143,149,178,0.15)]"
    >
      Back to Log In
    </button>
  </div>
</main>
