<main class="bg-[#F4F5FA] relative">
  <div class="flex p-4 flex-col">
    <div class="h-[100px] w-full flex gap-4">
      <div
        *ngFor="let item of usersDashboardItems"
        class="h-full flex-1 bg-white rounded-xl border border-[#dddddd] flex justify-between items-center p-4"
      >
        <div>
          <p class="text-[14px]">{{ item.title }}</p>
          <p class="text-[20px] font-semibold">200</p>
        </div>

        <div class="w-12 h-12 bg-[#F4F5FA] flex justify-center items-center rounded-lg">
          <img [src]="item.icon" alt="" />
        </div>
      </div>
    </div>

    <div class="h-[814px] w-full mt-6">
      <div class="h-[83px] w-full flex justify-between items-center px-6">
        <p class="text-[18px] leading-7 text-[#101828] font-semibold">Users</p>
        <div class="flex gap-4">
          <button
            class="flex justify-center items-center h-11 w-[99px] border border-[#E5E5E5] text-[14px] rounded-lg"
          >
            <img src="assets/admin/users/export.svg" class="h-5 w-5 mr-2" alt="" />Export
          </button>
          <button
            class="flex justify-center items-center h-11 w-[151px] bg-primary text-white border border-[#E5E5E5] text-[16px] rounded-lg"
          >
            <img src="assets/admin/users/add.svg" class="h-6 w-6 mr-2" alt="" />Invite User
          </button>
        </div>
      </div>
      <div class="flex justify-start items-center gap-3">
        <div
          class="w-100 h-11 flex justify-start items-center ml-6 border border-[#D0D5DD] rounded-lg"
        >
          <app-search-icon class="ml-3"></app-search-icon>
          <input
            type="text"
            placeholder="Search"
            class="outline-none focus:outline-none focus:ring-0 ml-4 text-[14px] leading-[100%] placeholder-[#8B8C93] font-inter font-normal"
          />
        </div>
        <div class="flex flex-col relative">
          <button
            (click)="togglePopup()"
            class="w-28 relative h-11 flex justify-center items-center gap-2 border border-[#D0D5DD] rounded-lg text-[14px] text-[#6B7280] cursor-pointer"
          >
            <app-filter-icon></app-filter-icon>
            {{ selectedItem }}
          </button>

          <div
            *ngIf="showPopup"
            class="absolute top-12 left-0 w-40 h-52 border bg-white border-[#F0F0F0] rounded-lg flex flex-col items-start justify-start"
          >
            <div class="flex flex-col h-full w-full">
              <p class="font-semibold text-[12px] text-black px-2 py-2">Filter by Status</p>
              <div class="flex flex-col justify-start items-start">
                <p
                  *ngFor="let key of filterItems"
                  (click)="selectItem(key)"
                  class="text-[12px] px-2 py-2 cursor-pointer"
                  [ngClass]="{
                    'font-semibold text-black': selectedItem === key,
                    'font-normal text-gray-700': selectedItem !== key
                  }"
                >
                  {{ key }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="relative">
          <button
            (click)="toggleDateFilter()"
            class="w-[90px] h-11 flex justify-center items-center gap-4 border border-[#D0D5DD] rounded-lg text-[14px] text-[#6B7280] cursor-pointer"
          >
            <app-date-icon></app-date-icon>
            Date
          </button>

         
          <app-date-filter
            *ngIf="showDateFilter"
            (apply)="onApply($event)"
            (cancel)="onCancel()"
            class="absolute left-0 mt-2"
          >
          </app-date-filter>
        </div>
      </div>
      <div
        class="h-[55px] w-full border-b border-b-[#CACACA] flex justify-start items-center gap-5 mt-2"
      >
        <div
          class="ml-4 h-full w-[66px] border-b border-b-primary flex justify-center items-center cursor-pointer"
        >
          <p class="text-primary text-[16px] font-semibold">Users</p>
        </div>
        <div class="flex justify-between items-center gap-2 cursor-pointer">
          <p class="text-vlack text-[16px]">Pending Invites</p>
          <p
            class="h-6 w-6 rounded-full bg-[#007AFF1A] text-primary text-[12px] flex justify-center items-center"
          >
            5
          </p>
        </div>
      </div>
      <div class="h-[491px] w-full mt-6">
        <div
          class="rounded-xl overflow-hidden border border-[#E2E8F0]/80 shadow-[0_1px_2px_rgba(0,0,0,0.05)]"
        >
          <table class="w-full border border-[#E2E8F0CC] rounded-xl">
            <thead class="bg-[#007AFF1A]">
              <tr class="">
                <th class="text-[14px] text-[#64748B] py-3 font-medium text-start w-[242px]">
                  <input
                    type="checkbox"
                    class="w-4 h-4 border rounded-sm cursor-pointer accent-primary mx-5"
                  />
                  User Name
                </th>
                <th class="text-[14px] text-[#64748B] py-3 font-medium text-start">Email</th>
                <th class="text-[14px] text-[#64748B] py-3 font-medium text-start">Team</th>
                <th class="text-[14px] text-[#64748B] py-3 font-medium text-start">ID</th>
                <th class="text-[14px] text-[#64748B] py-3 font-medium text-start">Joined Date</th>
                <th class="text-[14px] text-[#64748B] py-3 font-medium text-start">Role</th>
                <th class="text-[14px] text-[#64748B] py-3 font-medium text-start">Status</th>
                <th class="text-[14px] text-[#64748B] py-3 font-medium text-start">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr class="h-[73px] relative overflow-visible">
                <td class="">
                  <div class="h-full w-full flex items-center justify-start pl-5">
                    <input
                      type="checkbox"
                      class="w-4 h-4 border rounded-sm cursor-pointer accent-primary"
                    />
                    <div class="relative h-[46px] w-[46px] p-1 ml-2">
                      <img src="assets/admin/profile.jpg" class="rounded-full" alt="" />
                      <div
                        class="absolute bottom-0 right-0 h-4 w-4 rounded-full bg-white flex justify-center items-center"
                      >
                        <span class="h-2 w-2 rounded-full bg-[#4CAF50]"></span>
                      </div>
                    </div>

                    <div class="ml-1">
                      <p class="text-[14px] font-semibold text-[#0F172A]">Rajeswari Kumari</p>
                      <p class="text-[14px] text-[#64748B]">UI/UX Designer</p>
                    </div>
                  </div>
                </td>
                <td class="py-[26px] w-[200px] text-[14px] text-[#475569]">
                  rajeswari.kumari@gmail.com
                </td>
                <td class="py-[26px] text-[14px] text-[#475569]">Monika</td>
                <td class="py-[26px] text-[14px] text-[#475569]">SS00604</td>
                <td class="py-[26px] text-[14px] text-[#475569]">20/05/2025</td>
                <td class="py-[26px]"><p>Active</p></td>
                <td class="py-[26px] text-[14px] text-[#475569]">
                  <span
                    class="font-medium text-[#166534] bg-[#DCFCE7] px-[11px] py-[3px] rounded-2xl text-center"
                  >
                    Active
                  </span>
                </td>

                <td class="py-[26px]">
                  <button (click)="isOpen = !isOpen" class="cursor-pointer">...</button>
                </td>
              </tr>
            </tbody>
          </table>
        
          <div
            *ngIf="isOpen"
            (click)="isOpen = !isOpen"
            class="absolute inset-0 bg-[#00000052] flex items-center justify-end right-2"
          >
            
            <div
              class="bg-white shadow-lg rounded-lg w-[140px] h-[135px] flex flex-col justify-center items-center gap-1.5"
            >
              <div
                class="h-8 w-full hover:bg-[#F4F5FA] cursor-pointer flex justify-start items-center"
              >
                <img src="assets/admin/users/profile.svg" class="h-6 w-6 ml-2" alt="" />
                <p class="text-[14px] text-black font-medium">View Profile</p>
              </div>

              <div
                (click)="openProfilePopup()"
                class="h-8 w-full hover:bg-[#F4F5FA] cursor-pointer flex justify-start items-center"
              >
                <img src="assets/admin/users/edit.svg" class="h-6 w-6 ml-2" alt="" />
                <p class="text-[14px] text-black font-medium">Edit</p>
              </div>
              <div
                class="h-8 w-full hover:bg-[#F4F5FA] cursor-pointer flex justify-start items-center"
              >
                <img src="assets/admin/users/delete.svg" class="h-6 w-6 ml-2" alt="" />
                <p class="text-[14px] text-black font-medium">Delete</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- *ngIf="profilePopupOpen" -->
  <div
    *ngIf="profilePopupOpen"
    class="absolute inset-0 bg-[#0000004a] backdrop-blur-sm flex items-center justify-center cursor-pointer"
    (click)="closeProfilePopup()"
  >
    <div class="bg-white rounded-xl shadow-lg w-lg h-[740px] flex gap-6 flex-col">
      <div class="h-[77px] w-full flex justify-between items-center p-6">
        <h1 class="text-[20px] font-bold text-[#0F172A]">Edit User</h1>
        <img
          src="assets/admin/users/cancel.svg"
          (click)="closeProfilePopup()"
          class="h-6 w-6"
          alt=""
        />
      </div>
      <div class="">
        <app-edit-user></app-edit-user>
      </div>
    </div>
  </div>
</main>
