<main class="flex h-screen w-screen overflow-hidden">
  <div class="relative bg-sidebar flex-2 flex flex-col justify-start">
    <!-- <app-sidebar></app-sidebar> -->
  </div>

  <div class="flex-3 bg-white flex justify-center items-center">
    <div class="w-133 h-87 2xl:w-[600px] flex items-center justify-between flex-col">
      <div class="h-20 w-[343px] flex flex-col justify-between items-center">
        <h1 class="text-black font-semibold text-[32px] leading-10">Reset your Password?</h1>
        <p class="text-gray-3 text-center text-[14px] leading-6">
          Enter your new password and you're good to go.
        </p>
      </div>
      <div class="h-[236px] w-full flex flex-col justify-start">
        <div class="h-[70px] w-full flex flex-col justify-between">
          <p class="text-[14px] leading-5 font-inter">Password</p>

          <div
            [ngClass]="{
              'border-red': fill,
              'border-gray': !fill
            }"
            class="h-10 border border-gray rounded-lg flex items-center focus-within:border-primary focus-within:bg-primary-0 transition-all"
          >
            <img src="/assets/lock.png" class="h-6 w-6 ml-4" alt="Lock" />

            <input
              [(ngModel)]="userPassword"
              [type]="showPassword ? 'text' : 'password'"
              class="ml-2 text-[14px] leading-5 outline-none bg-transparent w-full placeholder:text-gray-3"
              placeholder="Enter your password"
            />

            <div class="w-full flex justify-end">
              <img
                src="{{ showPassword ? '/assets/eye-slash.png' : '/assets/eye.png' }}"
                class="h-6 w-6 mr-4 cursor-pointer"
                alt="Toggle Password"
                (click)="toggle()"
              />
            </div>
          </div>
        </div>
        <div class="h-[70px] w-full flex flex-col justify-between mt-6">
          <p class="text-[14px] leading-5 font-inter">Confirm Password</p>

          <div
            [ngClass]="{
              'border-red': fill,
              'border-gray': !fill
            }"
            class="h-10 border border-gray rounded-lg flex items-center focus-within:border-primary focus-within:bg-primary-0 transition-all"
          >
            <img src="/assets/lock.png" class="h-6 w-6 ml-4" alt="Lock" />

            <input
              [type]="showPassword ? 'text' : 'password'"
              [(ngModel)]="confirmPassword"
              class="ml-2 text-[14px] leading-5 outline-none bg-transparent w-full placeholder:text-gray-3"
              placeholder="Enter your confirm password"
            />

            <div class="w-full flex justify-end">
              <img
                src="{{ showPassword ? '/assets/eye-slash.png' : '/assets/eye.png' }}"
                class="h-6 w-6 mr-4 cursor-pointer"
                alt="Toggle Password"
                (click)="toggle()"
              />
            </div>
          </div>
        </div>
        <button
          (click)="reset()"
          class="h-11 w-full rounded-xl cursor-pointer bg-primary shadow shadow-gray-2 text-[16px] mt-6 font-bold text-white"
        >
          Change Password
        </button>
      </div>
    </div>
  </div>
</main>
