<main>
  <img src="/assets/patternbig.png" class="fixed top-195 left-9 w-76 h-93 z-50" alt="Pattern" />
  <img src="/assets/pattern.png" class="absolute top-0 right-1 w-23 opacity-80" alt="Pattern" />

  <div class="h-full w-full flex flex-col">
    <div class="flex flex-col justify-between h-86 w-111 mt-12 ml-12">
      <img src="/assets/logo.png" class="h-9 w-34" alt="Logo" />
      <div class="space-y-6">
        <p class="font-outfit text-white font-semibold text-[44px] leading-[58px]">
          Start your remarkable journey with us!
        </p>
        <p class="font-outfit text-white-1 text-4 leading-5">
          Our cold email automation helps you send personalized cold emails at scale with high email
          deliverability.
        </p>
      </div>
    </div>
    <div class="mt-11">
      <div class="flex justify-center items-center relative z-60">
        <img src="/assets/dashboard.png" class="h-129 w-145 mt-10" alt="Dashboard" />
      </div>
    </div>
  </div>
</main>
