<!-- hidden file input -->
<input
  #fileInput
  type="file"
  accept="image/*"
  (change)="onFileSelected($event)"
  class="hidden"
/>

<!-- clickable upload box -->
<div
  class="h-[157px] w-full flex flex-col justify-between mt-6 cursor-pointer"
  (click)="triggerFileInput(fileInput)"
>
  <p class="text-[14px] leading-5 font-inter">Company Logo</p>

  <div class="h-[129px] w-full border border-gray rounded-lg p-[17px] flex flex-col justify-center items-center">

    <!-- show preview if image uploaded -->
    <ng-container *ngIf="imageUrl; else uploadPlaceholder">
      <img
        [src]="imageUrl"
        alt="Uploaded"
        class="h-12 w-12 object-cover rounded-full border"
      />
      <p class="text-[12px] text-center mt-3 text-gray-600">
        {{ selectedFileName }}
      </p>
    </ng-container>

    <!-- placeholder before upload -->
    <ng-template #uploadPlaceholder>
      <img src="/assets/uploadimage.png" class="h-12 w-12" alt="Upload" />
      <p class="text-gray-500 text-[12px] text-center mt-3">
        UPLOAD IMAGE
      </p>
      <p class="text-gray-400 text-[12px] text-center mt-[5px]">
        Please click to upload
      </p>
    </ng-template>
  </div>
</div>
