<main>
  <div class="w-full flex-col justify-center items-center flex gap-6">
    <div class="h-20 w-full flex flex-col justify-between items-center">
      <h1 class="text-[32px] font-intrer font-semibold leading-10">Email Not Verified</h1>
      <p class="text-[16px] leading-6 text-center w-[383px]">
        Your email address was successfully verified
      </p>
    </div>
    <img src="/assets/emailnotverified.png" class="h-[180px] w-[180px]" alt="Dashboard" />
    <p class="text-black text-[16px] text-center">
      Token has expired or verify token is already used
    </p>

    <button
      class="w-70 h-11 rounded-xl cursor-pointer bg-red-1 text-white font-bold text-[16px] shadow-[0_8px_16px_0_rgba(143,149,178,0.15)]"
    >
      Try Again
    </button>
  </div>
</main>
