@import 'tailwindcss';

@theme {
  /*color*/
  --color-sidebar: #0c213a;

  --color-white: #ffffff;
  --color-white-1: #ffffffbf;
  --color-white-2: #FBFBFB;

  --color-primary: #3f6eec;
  --color-primary-0: #007aff1a;

  --color-red: #ef4444;
  --color-red-1: #c43028;

  --color-gray: #d8dae5;
  --color-gray-1: #e6e8f0;
  --color-gray-2: #8f95b2;
  --color-gray-3: #6b7280;
  --color-gray-4: #0a0a0c57;

  --color-black: #0d0d0d;
  --color-black-1: #0d0d0dcc;
}
